body
    background-color #f5f6fa
    font-size 16px
    font-family 'Roboto', sans-serif;

h1,h2,h3,h4,h5,ul,body,html
    padding 0
    margin 0

.wrapper
    min-height: 100vh
    overflow: hidden
    .panel
        float: left
        position: relative
        z-index: 99
        width: 18%

    .col2
        float: left
        width: 82%

.sidebar
    background-color: #f9f8f6
    min-height: 100vh
    .section-top
        background-color: #2caaff

    .user
        color: #fff
        a
            color: #fff
            font-size: 1.2em

    .main
        ul
            list-style-type: none;
            padding-left: 0
            li
                a
                    color: #8998ac
                    text-decoration: none

                    i
                        margin-right: 10px

                    &:hover
                        background-color: #2caaff
                        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)
                        color #fff
                a:hover
                    color: #fff

.navbar
    background-color: #2caaff
    a
        color: #fff

.container-fluid
    .panel-content
        background-color: #fff
        border-bottom 2px solid #2caaff
