body
    margin 0px
    padding 0px
    background-color #f6f6f6

.box
    background-color #fff
    // border 1px solid #d6d6d6
    border-radius 8px
    padding 16px
    width 600px


.centered-box
    height: 100vh
    // Centrar un div horizontal y vertical
    display flex
    align-items center
    justify-content center


